<h1>Pagina Login</h1>

<h2>Login con tu cuenta</h2>
<div class="singup">
  <h4>Tienes cuenta?</h4>
  <a href="singup">Registrate</a>
</div>
<div id ="github">
   <a href="/api/sessions/login-github">Login con github</a>
   <h6> o con tu email y contraseña</h6>
</div>

<p>{{message}}</p>
<p id="errorMsg">{{error}}</p>

<form id= "loginForm" method="post" action="/api/sessions/login">
  <input type="email" name="email" placeholder="Tu correo">
  <br/><br/>
  <input type="password" name="password" placeholder="Tu contraseña">
  <br/><br/>
  <button>Iniciar Sesion </button>
</form>

<script src="/js/signup.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
